body html main footer {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

c-img {
  height: 480px;
  object-fit: cover;
  filter: brightness(0.6);
}

footer {
  z-index: 99999;
  bottom: 0;
  position: fixed;
  width: 100%;
}