{% extends 'portfolio/base.html' %}
{% load static translation_tags %}

{% block title %}{% t 'home_title' %}{% endblock %}

{% block extra_css %}
<style>
  .hero-section {
    background-color: var(--dark-bg);
    color: var(--light-text);
    padding: 120px 0;
    position: relative;
  }
  
  .hero-section h1 {
    color: var(--light-text);
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    color: #ccc;
    font-size: 1.2rem;
    max-width: 600px;
  }
</style>
{% endblock %}
{% block content %}
<!-- Add profile image to the content area -->
<div class="row mb-4 mt-4">
  <div class="col-md-4">
    <!-- LinkedIn profile picture -->
    <img class="profile-image img-fluid" src="{% static 'portfolio/images/portfolio.jpeg' %}" alt="{% t 'profile_picture' %}" />
  </div>
  <div class="col-md-8">
    <h1>{% t 'welcome_message' %}</h1>
    <p>{% t 'home_bio_p1' %}</p>
    <p>{% t 'home_bio_p2' %}</p>
  </div>
</div>
{% endblock %}
