<!-- portfolio/templates/portfolio/portfolio.html -->
{% extends 'portfolio/base.html' %}
{% load static translation_tags %}

{% block title %}{% t 'portfolio_title' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="text-center mb-5">{% t 'portfolio_projects' %}</h1>
    </div>
</div>

<!-- Rainbow Project Section -->
<div class="row mb-5">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">{% t 'rainbow_project' %}</h3>
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static 'portfolio/images/regenboog.png' %}" 
                            alt="{% t 'rainbow_project' %}" 
                            class="img-fluid rounded">
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{% t 'rainbow_desc' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Match Table Project Section -->
<div class="row mb-5">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">{% t 'match_table' %}</h3>
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static 'portfolio/images/tabelwedstrijden.png' %}" 
                            alt="{% t 'match_table' %}" 
                            class="img-fluid rounded">
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{% t 'match_table_desc' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CSS Table Alignment Exercise Section -->
<div class="row mb-5">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">{% t 'exercise_1_6' %}</h3>
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static 'portfolio/images/oefening1.6.png' %}" 
                            alt="{% t 'exercise_1_6' %}" 
                            class="img-fluid rounded">
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{% t 'exercise_1_6_desc' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Row and Column Span Project Section -->
<div class="row mb-5">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">{% t 'exercise_2_1' %}</h3>
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static 'portfolio/images/oefening2.1.png' %}" 
                            alt="{% t 'exercise_2_1' %}" 
                            class="img-fluid rounded">
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{% t 'exercise_2_1_desc' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
