{% extends 'portfolio/base.html' %}
{% load static translation_tags %}

{% block title %}{% t 'portfolio_title' %}{% endblock %}

{% block content %}
<div id="margin">
  <div class="lightbox">
    <div class="row">
      <h1>{% t 'portfolio_projects' %}</h1>
      <div class="col-lg-6">
        <img src="{% static 'portfolio/images/regennboog.png' %}" data-mdb-img="{% static 'portfolio/images/regennboog.png' %}" alt="{% t 'rainbow_project' %}" class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
        <h3>{% t 'rainbow_project' %}:</h3><br><p>{% t 'rainbow_desc' %}</p>
        
        <img src="{% static 'portfolio/images/tabelwedstrijden.png' %}" data-mdb-img="{% static 'portfolio/images/tabelwedstrijden.png' %}" alt="{% t 'match_table' %}" class="w-100 shadow-1-strong rounded" />
        <h3>{% t 'match_table' %}:</h3><br><p>{% t 'match_table_desc' %}</p>
      </div>
      <div class="col-lg-6">
        <img src="{% static 'portfolio/images/oefening1.6.png' %}" data-mdb-img="{% static 'portfolio/images/oefening1.6.png' %}" alt="{% t 'exercise_1_6' %}" class="w-100 shadow-1-strong rounded" />
        <h3>{% t 'exercise_1_6' %}:</h3><br><p>{% t 'exercise_1_6_desc' %}</p>
        
        <img src="{% static 'portfolio/images/oefening2.1.png' %}" data-mdb-img="{% static 'portfolio/images/oefening2.1.png' %}" alt="{% t 'exercise_2_1' %}" class="w-100 mt-md-4 shadow-1-strong rounded" />
        <h3>{% t 'exercise_2_1' %}:</h3><br><p>{% t 'exercise_2_1_desc' %}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
